<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.app-sandbox</key>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Temporarily store trace files</string>
	<true/>
	<!-- Add entitlements here -->
</dict>
</plist>