<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text title">PerfView</li>
            <li>
                <a href="#" class="title">File</a>
                <ul class="menu vertical">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Clear Temp Files</a></li>
                    <li><a href="#">Clear User Config</a></li>
                    <li><a href="#">Set Symbol Path</a></li>
                    <li><a href="#">User Command</a></li>
                    <li><a href="#">Exit</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="title">Collect</a>
                <ul class="menu vertical">
                    <li><a href="#">Run</a></li>
                    <li><a href="#">Collect</a></li>
                    <li><a href="#">Abort</a></li>
                    <li><a href="#">Merge</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="title">Memory</a>
                <ul class="menu vertical">
                    <li><a href="#">Take Heap Snapshot</a></li>
                    <li><a href="#">Take Heap Snapshot From Dump</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="title">Size</a>
                <ul class="menu vertical">
                    <li><a href="#">Directory Size</a></li>
                    <li><a href="#">Image Size</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="title">Help</a>
                <ul class="menu vertical">
                    <li><a href="#">Help on Main View</a></li>
                    <li><a href="#">Users Guide</a></li>
                    <li><a href="#">Getting Started Videos</a></li>
                    <li><a href="#">Get the Latest Version</a></li>
                    <li><a href="#">Give Feedback or Ask a Question</a></li>
                    <li><a href="#">Reference Guide</a></li>
                    <li><a href="#">Command Line Help</a></li>
                    <li><a href="#">User Command Help</a></li>
                    <li><a href="#">Multi-Scenarios Analysis</a></li>
                    <li><a href="#">Extending Perfview</a></li>
                    <li><a href="#">Viewing Linux Data</a></li>
                    <li><a href="#">Viewing External Data</a></li>
                    <li><a href="#">Using EventSources</a></li>
                    <li><a href="#">Release Notes</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="top-bar-right">
        <!--<ul class="menu navItems helpfulLinks">
            <li><a href="#">Main View Help</a></li>
            <li><a href="#">Tutorial</a></li>
            <li><a href="#">Troubleshooting</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Tips</a></li>
            <li><a href="#">Video</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>-->
    </div>
</div>



<!--<div class="nav">
  <ul class="navItems top-level-dropdown">
    <li>
      <a href="#">File</a>
      <ul class="second-level-dropdown">
        <li><a href="#">Help</a></li>
        <li><a href="#">Clear Temp Files</a></li>
        <li><a href="#">Clear User Config</a></li>
        <li><a href="#">Set Symbol Path</a></li>
        <li><a href="#">User Command</a></li>
        <li><a href="#">Exit</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Collect</a>
      <ul class="second-level-dropdown">
        <li><a href="#">Run</a></li>
        <li><a href="#">Collect</a></li>
        <li><a href="#">Abort</a></li>
        <li><a href="#">Merge</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Memory</a>
      <ul class="second-level-dropdown">
        <li><a href="#">Take Heap Snapshot</a></li>
        <li><a href="#">Take Heap Snapshot From Dump</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Size</a>
      <ul class="second-level-dropdown">
        <li><a href="#">Directory Size</a></li>
        <li><a href="#">Image Size</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Help</a>
      <ul class="second-level-dropdown">
        <li><a href="#">Help on Main View</a></li>
        <li><a href="#">Users Guide</a></li>
        <li><a href="#">Getting Started Videos</a></li>
        <li><a href="#">Get the Latest Version</a></li>
        <li><a href="#">Give Feedback or Ask a Question</a></li>
        <li><a href="#">Reference Guide</a></li>
        <li><a href="#">Command Line Help</a></li>
        <li><a href="#">User Command Help</a></li>
        <li><a href="#">Multi-Scenarios Analysis</a></li>
        <li><a href="#">Extending Perfview</a></li>
        <li><a href="#">Viewing Linux Data</a></li>
        <li><a href="#">Viewing External Data</a></li>
        <li><a href="#">Using EventSources</a></li>
        <li><a href="#">Release Notes</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </li>
  </ul>

  <ul class="navItems helpfulLinks">
    <li><a href="#">Main View Help</a></li>
    <li><a href="#">Tutorial</a></li>
    <li><a href="#">Troubleshooting</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Tips</a></li>
    <li><a href="#">Video</a></li>
    <li><a href="#">Feedback</a></li>
  </ul>
</div>-->
