


body {
  margin: 0;
  display: flex;
  flex-direction: column;

  font-family: Verdana, sans-serif;
}



/*
Nav Bar Views
-------------
*/
/* Wrapper for Nav Bar Views */
.nav {
  margin: 0;
  display: flex;
}

/* Wrapper for Dropdown Navbar and Helpful Links */
.nav .navItems {
  margin: 0;
  list-style: none;
  margin: 0;
  background-color: #4169e1;

  display: flex;
  flex-flow: row nowrap;
}

.nav .navItems li {
  font-size: .9em;
}

.nav .top-level-dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
  justify-content: flex-start;
}

.nav ul {
  padding-left: .2em;
}

.nav .top-level-dropdown a, .nav .helpfulLinks a {
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
  font-family: Helvetica, sans-serif;
  padding: .7em;
  color: white;
  display: block;
}

.nav .top-level-dropdown a:hover { color: #000000; }
.nav .top-level-dropdown > li:hover { background: #CCCCCC; }

.nav .top-level-dropdown li:hover > ul {
  display: inline;
}

.nav .second-level-dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: fixed;
}

.nav .second-level-dropdown > li {
  background: #999999;
}

.nav .second-level-dropdown > li:hover { background: #CCCCCC; }

.nav .helpfulLinks {
  margin: 0;
  justify-content: flex-end;
  text-decoration: underline;
}

/*.nav .helpfulLinks li:hover {
  background: #CCCCCC;
}*/

.nav .helpfulLinks li a:hover {
  color: #000000;
}
/*------------*/



/*
Tree View and Welcome View
-----------------------
*/
/* Wrapper for Side Bar View and Welcome View */
.wrapper {
  flex-grow: 1;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.wrapper #sideBarContainer {
  min-width: 20em;
  border-right-style: solid;
  border-right-width: .15em;
  border-right-color: #4169e1;
}

/* Directory Selector and Filter */
.wrapper #sideBarContainer #dirSelect {
  margin: 0;
  height: 1.5em;
  background-color: darkgrey;
}

.wrapper #sideBarContainer #dirSelect {
  background-color: white;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper #sideBarContainer #dirSelect::-webkit-calendar-picker-indicator {
  opacity: 100;
}

.wrapper #sideBarContainer #filterContainer {
  height: 2em;
  background-color: lightgrey;
}

.wrapper #sideBarContainer form {
  display: flex;
  padding-top: .3em;
  margin-left: .2em;
  margin-right: .2em;
}

.wrapper #sideBarContainer form a {
  margin-right: .2em;
}

.wrapper #sideBarContainer form input {
  flex-grow: 1;
}

/* Tree Hierarchy */
.wrapper #treeContainer li {
    overflow: hidden;
    text-overflow: clip;
    font-size: .75em;
}

/* Welcome View */
.wrapper #welcome {
  flex-grow: 1;  /* TODO: May not need this since implementing '.wrapper' */
  margin: 0;
  padding: 0;
  height: 40em;
  overflow: auto;
}

.wrapper #welcome p {
  font-size: .9em;
  margin: .3em;
}
/*--------------------*/



/*
Footer View
-----------
*/
#footer {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: .9em;
  margin: 0;

  background: #4169e1;

  display: flex;
  flex-flow: row;

  height: 2em;
}

#footer #statusBar {
  flex-grow: 1;
}

#footer #toggle {
  min-width: 17em;
}

#footer #statusBar span {
  line-height: 2em;
  margin-left: .7em;
}

#footer #toggle span {
  line-height: 2em;
}
/*----------*/
