<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/foundation-6.2.3-custom/css/foundation.css">
    <link rel="stylesheet" href="../static/foundation-6.2.3-custom/css/app.css">

    <link rel="stylesheet" type="text/css" href="home.css">

    <!-- basicContext Theme -->
    <link rel="stylesheet" href="../node_modules/basiccontext/dist/basicContext.min.css">
    <!-- <link rel="stylesheet" href="node_modules/basiccontext/dist/themes/default.min.css"> -->
    <link rel="stylesheet" href="../node_modules/basiccontext/dist/themes/bright.min.css">
    <link rel="stylesheet" href="../node_modules/basiccontext/dist/addons/popin.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- jsTree Theme -->
    <link rel="stylesheet" href="../libraries/jstree/dist/themes/default/style.min.css" />
  </head>

  <body>
    <div class="nav"></div>

    <div class="wrapper">
      <div id="sideBarContainer">
        <input id="dirSelect" list="recentDirectories" type="text" placeholder="C:\Development\PerfViewData.etl">
        <datalist id="recentDirectories">
        </datalist>

        <div id="treeContainer">
        </div>
      </div>

      <div id="welcome">
        <h4>Welcome to PerfView!</h4>
          <p>
              PerfView is an application designed to simplify the collection and analysis of performance data.<br><br>
              Pressing the <b>F1</b> key will give you help for current view. Any blue hyperlinks in the UI also take you to help. For an overview of PerfView see the <a href="help.html#UsersGuide" target="_blank"><u>User's Guide</u></a>. If you wish to ask a question that the documentation did not answer or if you have feedback or a bug report, see the <a href="help.html#Feedback" target="_blank"><u>feedback instructions</u></a> in the documentation.<br><br>
              <b>If you are new to PerfView</b>, we strongly recommend reading the <a href="help.html#Tutorial" target="_blank"><u>tutorial</u></a> or watch the tutorial <a href="perfViewWebVideos.html" target="_blank"><u>videos</u></a>. It should only take 10-20 minutes to walk through. Also recommend is reading <a href="help.html#WhatPerfViewCanDoForYou" target="_blank"><u>what perfView can do for you</u></a>.<br><br>

              <b>Optimizing Time, or Unmanaged Memory: Collecting ETW Profile Data</b><br>
              PerfView can collect a time based ETW trace for investigating <a href="help.html#CPUInvestigation" target="_blank"><u><b>CPU</b></u></a> and <a href="help.html#MakingServerInvestigationEasy" target="_blank"><u><b>Server Response Time</b></u></a>, as well as <a href="help.html#BlockedTimeInvestigation" target="_blank"><u>Wall Clock / Blocked Time</u></a>, <a href="help.html#UnmanagedMemoryAnalysis" target="_blank"><u>Unmanaged memory</u></a> or <a href="help.html#GCHeapNetMemStacks" target="_blank"><u>Managed memory</u></a>. For these cases PerfView has two ways of <a href="help.html#CollectingData" target="_blank"><u>collecting ETW trace data</u></a>:<br>
          </p>
              <ul>
                  <li style="list-style-type: disc; margin-left: 20px;">Run a command and collect data while the command is running. Collect->Run (Alt-R)</li>
                  <li style="list-style-type: disc; margin-left: 20px;">Collect data machine wide by starting and stopping collection manually. Collect->Collect (Alt-C)</li>
              </ul><br>

          <p>
              <b>Optimizing Managed Memory: Collecting .NET Runtime Heap Data</b>
              PerfView can also collect data about the GC heap of a .NET Runtime process. See <a href="#"><u>GC Heap Quick Start</u></a> for more details.<br>
          </p>
              <ul>
                  <li style="list-style-type: disc; margin-left: 20px;">Take a heap snapshot of an existing process Memory->Take Heap Snapshot (Alt-S)</li>
                  <li style="list-style-type: disc; margin-left: 20px;">To Take a heap snapshot from a Process Dump simply double click on the .DMP file in the file view to the left.</li>
              </ul><br>

          <p>
              <b>Viewing Existing Profile Data</b>
              The result of data collection is data stored in data files of varying extensions. The left pane is a list of file names in the current directory that PerfView knows how to open. Simply double click on the file of interest to view the data. You can change the current directory by either double clicking on a subdirectory or typing the name in the textbox in the upper left.<br>
              If the file contains more than one view of the data then double clicking on the object populates children nodes in the treeview. Double clicking on one of the children will open the viewer for that view. <b>Right clicking and selecting 'Help on Item'</b> will take you to the help for that particular entry in the viewer. There are two main viewers of profile data:<br>
          </p>
              <ul>
                  <li style="list-style-type: disc; margin-left: 20px;">A stack viewer which allows aggregation and filtering of events with associated stack traces.</li>
                  <li style="list-style-type: disc; margin-left: 20px;">An event viewer which allows filtering of time based events.</li>
              </ul><br>

          <p>
              <b>Diffing Profile Data</b>
              PerfView has the ability to determine the difference between two traces, which is very useful in doing regression analysis. To use the Diff functionality first view both traces in separate stack view windows and (if necessary) filter out all but the region that represents an equivalent amount of work in each view. Then use the Diff menu on the stack view window of the 'regressed' trace and to select the other window as its baseline. See <a href="help.html#Diff" target="_blank"><u>Diff Help</u></a> for more.
          </p>
      </div>
    </div>


      <footer id="footer"></footer>



      <!-- ****************** SCRIPTS BELOW ****************** -->


      <!-- Do NOT Delete
      This allows for script tags and requires('') to work both in the browser and i Electron -->
      <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>



      <!-- Let's get some jQuery going here. -->
      <script src="../static/foundation-6.2.3-custom/js/vendor/jquery.js"></script>
      <!-- alternate require method that works for Electron
      <script>window.$ = window.jQuery = require('./node_modules/jquery/dist/jquery.min.js')</script> -->


      <script src="../static/foundation-6.2.3-custom/js/vendor/what-input.js"></script>
      <script src="../static/foundation-6.2.3-custom/js/vendor/foundation.js"></script>
      <script src="../libraries/bluebird.min.js"></script>

      <!-- Template Including -->
      <script>
        var join = Promise.join;

        var navbar = $.get('templates/navbar.html');
        var footer = $.get('templates/footer.html');

        join(navbar, footer, function(navbarResult, footerResult) {
                var nav = $(navbarResult).children();
                $('.nav').append(nav);

                var foot = $(footerResult).children();
                $('#footer').append(foot);

                $(document).foundation();
            }
        );
      </script>


      <!-- basicContext Library -->
      <script src="../node_modules/basiccontext/dist/basicContext.min.js"></script>


      <!-- basicContext Menu Test -->
      <!--<script>
        document.querySelector('#treeContainer').addEventListener('contextmenu', function(e) {
            console.log(e);
          var clicked = function() { alert('Item clicked!') }
          let items = [
            { title: 'Help on Item', icon: 'ion-help-buoy', fn: clicked, disabled: true },
            { title: 'Refresh Dir', icon: 'ion-refresh', fn: clicked },
            { title: 'Open', icon: 'ion-android-open', fn: clicked },
            { title: 'Close', icon: 'ion-close', fn: clicked },
            { title: 'Delete', icon: 'ion-android-remove-circle', fn: clicked },
            { title: 'Rename', icon: 'ion-edit', fn: clicked },
            { title: 'Merge', icon: 'ion-merge', fn: clicked },
            { title: 'Make Local Symbol Dir', icon: 'ion-plus-round', fn: clicked },
            { title: 'Zip', icon: 'ion-ios-briefcase', fn: clicked },
            { title: 'UnZip', icon: 'ion-ios-briefcase-outline', fn: clicked }
          ]

          basicContext.show(items, e)
        })
      </script>-->


      <!-- jsTree Library -->
      <script src="../libraries/jstree/dist/jstree.min.js"></script>
      <!--<script src="../js/jsTreeHandler.js"></script>-->  


      <script>
          $(document).ready(function () {
              $.getScript("../js/homeDelegate.js", function () {
                  homeDelegate.changeDirectoryTreePath();
              });

              // TODO: Pull these from a cache file of the 10 most recently options the user has chosen
              //$("#recentDirectories").append("<option value=" + homeDelegate.defaultDirectoryTreePath + "/>");
          });

          $("#dirSelect").keypress(function (e) {
              // If the user pressed enter in the directory search bar
              if (e.which == 13) {
                  var dir = e.currentTarget.value;
                  
                  // In case the user specifically passes <drive name>:/
                  if (dir.charAt(1) == ":" && dir.charAt(dir.length - 1) == "/") {
                      dir = dir.substring(0, dir.length - 1) + "\/";
                  }

                  homeDelegate.changeDirectoryTreePath(dir);
              }
          });
      </script>


      <!-- Do NOT Delete
      This allows for script tags and requires('') to work both in the browser and i Electron -->
      <script>if (window.module) module = window.module;</script>
  </body>
</html>
