body {
    margin-bottom: 4em;
}

/*
Nav Bar Views
-------------
*/
/* Wrapper for Nav Bar Views */
.nav {
  margin: 0;
  display: flex;
}

/* Wrapper for Dropdown Navbar and Helpful Links */
.nav .navItems {
  margin: 0;
  list-style: none;
  margin: 0;
  background-color: #4169e1;

  display: flex;
  flex-flow: row nowrap;
}

.nav .navItems li {
  font-size: .9em;
}

.nav .top-level-dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
  justify-content: flex-start;
}

.nav ul {
  padding-left: .2em;
}

.nav .top-level-dropdown a, .nav .helpfulLinks a {
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
  font-family: Helvetica, sans-serif;
  padding: .7em;
  color: white;
  display: block;
}

.nav .top-level-dropdown a:hover { color: #000000; }
.nav .top-level-dropdown > li:hover { background: #CCCCCC; }

.nav .top-level-dropdown li:hover > ul {
  display: inline;
}

.nav .second-level-dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: fixed;
}

.nav .second-level-dropdown > li {
  background: #999999;
}

.nav .second-level-dropdown > li:hover { background: #CCCCCC; }

.nav .helpfulLinks {
  margin: 0;
  justify-content: flex-end;
  text-decoration: underline;
}

/*.nav .helpfulLinks li:hover {
  background: #CCCCCC;
}*/

.nav .helpfulLinks li a:hover {
  color: #000000;
}
/*------------*/


#filtersForm {
    margin-top: 15px;
}

.filter {
    display: inline;
    width: 200px;
    height: 27px;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 200px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    font-size: .8rem;
    padding: 8px;
}

table tbody tr:nth-child(even) {
    background-color: #dddddd;
}

table tbody tr:nth-child(odd)[data-find-flag],
table tbody tr:nth-child(even)[data-find-flag] {
  /*background-color: #809fff;*/
  background-color: #b3c6ff;
  font-weight: bold;
}

/*#CallersTree {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}*/

/*.name-col {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    width: 50%;
}*/

#callersTree .branch td span.indenter a {
    background-image: url("../static/images/right-arrow.png");
    background-size: 16px;
}

#callersTree .expanded td span.indenter a {
    background-image: url("../static/images/down-arrow.png");
    background-size: 16px;
}

#calleesTree .branch td span.indenter a {
    background-image: url("../static/images/right-arrow.png");
    background-size: 16px;
}

#calleesTree .expanded td span.indenter a {
    background-image: url("../static/images/down-arrow.png");
    background-size: 16px;
}

#call-tree .branch td span.indenter a {
    background-image: url("../static/images/right-arrow.png");
    background-size: 16px;
}

#call-tree .expanded td span.indenter a {
    background-image: url("../static/images/down-arrow.png");
    background-size: 16px;
}



/*
Footer View
-----------
*/
#footer {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: .9em;
  margin: 0;

  background: #4169e1;

  display: flex;
  flex-flow: row;

  height: 2em;

  margin-bottom: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
}

#footer #statusBar {
  flex-grow: 1;
}

#footer #toggle {
  min-width: 17em;
}

#footer #statusBar span {
  line-height: 2em;
  margin-left: .7em;
}

#footer #toggle span {
  line-height: 2em;
}
/*----------*/
