<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Stack Viewer</title>
    <link rel="stylesheet" href="../static/foundation-6.2.3-custom/css/foundation.css">
    <link rel="stylesheet" href="../static/foundation-6.2.3-custom/css/app.css">
    <link href="../libraries/jquery.treetable/css/jquery.treetable.css" rel="stylesheet" type="text/css" />
    <link href="../static/stackviewer.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <ul class="tabs" data-tabs id="tabs">
        <li class="tabs-title is-active"><a href="#by-name" aria-selected="true">By Name</a></li>
        <li class="tabs-title"><a href="#caller-callee">Caller-Callee</a></li>
        <li class="tabs-title"><a href="#call-tree">CallTree</a></li>
        <li class="tabs-title"><a href="#callers">Callers</a></li>
        <li class="tabs-title"><a href="#callees">Callees</a></li>
        <li class="tabs-title"><a href="#notes">Notes</a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="tabs">
        <div class="tabs-panel is-active" id="by-name">
                <table id="by-name-list">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Exc %</th>
                            <th>Exc</th>
                            <th>Inc %</th>
                            <th>Inc</th>
                            <th>Fold</th>
                            <th>First</th>
                            <th>Last</th>
                        </tr>
                    </thead>
                </table>
        </div>

        <div class="tabs-panel" id="callers">
                <table id="callersTree">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Exc %</th>
                            <th>Exc</th>
                            <th>Inc %</th>
                            <th>Inc</th>
                            <th>Fold</th>
                            <th>First</th>
                            <th>Last</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
        </div>
    </div>



    <!-- Do NOT Delete
      This allows for script tags and requires('') to work both in the browser and i Electron -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>


    <!-- Let's get some jQuery going here. -->
    <script src="../static/foundation-6.2.3-custom/js/vendor/jquery.js"></script>
    <script src="../libraries/jquery.treetable/jquery.treetable.js"></script>

    <script src="../js/stackDelegate.js"></script>

    
    <script>
        $(document).ready(function () {
            // Get tree ready
            var indenterTemplate = "<span class=\"indenter\"><a href=\"#\">&nbsp;</a></span>";

            // Initialize by-name-list with said properties
            $("#by-name-list").treetable({
                expandable: true,
                indenterTemplate: indenterTemplate,
                onNodeExpand: function () {
                    var node = this;

                    console.log(node);
                }
            });
            updateTreeTable("#by-name-list", null, stackDelegate.summaryStackData);

            // Initialize callersTree with said properties
            $("#callersTree").treetable({
                expandable: true,
                indenterTemplate: indenterTemplate,
                onNodeExpand: function () {
                    var node = this;

                    callersTreeNodeExpanded(node);
                }
            });
        });


        /*_____________________________________*/
        /*_______ Tab Updater Functions _______*/
        /*_____________________________________*/
        function updateTreeTable(treeTableId, parentNode, stackData) {
            // Iterate through each row
            var rowsToAppend = "";
            for (var i = 0; i < stackData.length; ++i) {
                // TODO: Wrap this up in a function or something nicer
                if (parentNode != null && parentNode != undefined) {
                    var childNodeAlreadyPresent = false;
                    for (var j = 0; j < parentNode.children.length; ++j) {
                        if (parentNode.children[j].id == stackData[i].contextId) { childNodeAlreadyPresent = true; }
                    }
                    if (childNodeAlreadyPresent) { continue; }
                }

                rowsToAppend = rowsToAppend + "<tr data-tt-id=\"" + stackData[i].contextId
                                            + "\" data-tt-parent-id=\"" + stackData[i].parentContextId
                                            + "\" data-tt-branch=\"" + stackData[i].hasChildren + "\">";

                rowsToAppend = rowsToAppend + "<td>" + stackData[i].name + "</td>\
                                    <td>" + stackData[i].exclusiveMetricPercent + "</td>\
                                    <td>" + stackData[i].exclusiveMetric + "</td>\
                                    <td>" + stackData[i].inclusiveMetricPercent + "</td>\
                                    <td>" + stackData[i].inclusiveMetric + "</td>\
                                    <td>" + stackData[i].exclusiveFoldedCount + "</td>\
                                    <td>" + stackData[i].firstTimeRelativeMSec + "</td>\
                                    <td>" + stackData[i].lastTimeRelativeMSec + "</td>\
                                    </tr>";
            }

            $(treeTableId).treetable("loadBranch", parentNode, rowsToAppend);  // treetable treats a null node parameter as meaning root
        }

        
        /*_____________________________________*/
        /*__________ Event Listeners __________*/
        /*_____________________________________*/

        // by-name-list click event
        $(document).on("dblclick", "#by-name-list tbody tr td:first-child", function (row) {
            var name = row.currentTarget.innerText.trim();  // Get the name of the clicked node

            if (name !== undefined) {
                stackDelegate.getCallerTree(name, "", function (callersStackData) {
                    // Switch to Callers tab
                    $('#tabs').foundation('selectTab', $("#callers"));

                    $("#callersTree tbody").empty();

                    // Place data in Callers tab
                    updateTreeTable("#callersTree", null, callersStackData);
                });
            }
        });

        // callersTree node expand event
        //$(document).on("dblclick", "#callersTree tbody tr", function (row) {
        function callersTreeNodeExpanded(node) {
            // Get the nodeId (contains the name and path) of the row the user just clicked on

            // Split the name from the path
            var nameAndPath = node.id.split("/");
            var name = nameAndPath[0];

            // Get the path, if there is one
            var path = "";
            // Check if there is actually a path component
            if (nameAndPath.length > 1) {
                // There is, so let's reconstruct it
                for (var i = 1; i < nameAndPath.length - 1; ++i) {
                    path += nameAndPath[i] + "/";
                }
                path += nameAndPath[nameAndPath.length - 1];
            }

            if (name !== undefined) {
                stackDelegate.getCallerTree(name, path, function (callersStackData) {
                    // Place data under clicked node
                    updateTreeTable("#callersTree", node, callersStackData);
                });
            }
        }
        //});
    </script>


    <script src="../static/foundation-6.2.3-custom/js/vendor/what-input.js"></script>
    <script src="../static/foundation-6.2.3-custom/js/vendor/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>


    <!-- Do NOT Delete
      This allows for script tags and require statements to work both in the browser and in Electron -->
    <script>if (window.module) module = window.module;</script>



</body>
</html>