body {
    margin-bottom: 4em;
}

:root {
    --main-color: #485761;
}

/*
Nav Bar Views
-------------
*/
.fixedContainer {
    margin-top: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;

    background-color: var(--main-color);
}

.top-bar .title, .top-bar-left .title {
    color: white;
}

#top-status-bar {
    color: black;
    padding-left: 16px;
    font-size: 13px;
    background-color: rgb(158, 158, 158);
}


/* Wrapper for Nav Bar Views */
/*.nav {
  margin: 0;
  display: flex;
}*/

/* Wrapper for Dropdown Navbar and Helpful Links */
/*.nav .navItems {
  margin: 0;
  list-style: none;
  margin: 0;
  background-color: #4169e1;

  display: flex;
  flex-flow: row nowrap;
}

.nav .navItems li {
  font-size: .9em;
}

.nav .top-level-dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
  justify-content: flex-start;
}

.nav ul {
  padding-left: .2em;
}

.nav .top-level-dropdown a, .nav .helpfulLinks a {
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
  font-family: Helvetica, sans-serif;
  padding: .7em;
  color: white;
  display: block;
}

.nav .top-level-dropdown a:hover { color: #000000; }
.nav .top-level-dropdown > li:hover { background: #CCCCCC; }

.nav .top-level-dropdown li:hover > ul {
  display: inline;
}

.nav .second-level-dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: fixed;
}

.nav .second-level-dropdown > li {
  background: #999999;
}

.nav .second-level-dropdown > li:hover { background: #CCCCCC; }

.nav .helpfulLinks {
  margin: 0;
  justify-content: flex-end;
  text-decoration: underline;
}*/

/*.nav .helpfulLinks li:hover {
  background: #CCCCCC;
}*/

/*.nav .helpfulLinks li a:hover {
  color: #000000;
}*/
/*------------*/


#filtersForm {
    margin-top: 15px;
}

#filtersForm label {
    display: block;
    color: white;
}

.filter {
    display: block;
    width: 300px;
    height: 27px;
}

.singleFilterContainer {
    display: inline;
}

.findContainer {
    position: fixed;
    right: 0;
    width: 446px;
    margin-right: 17px;
    z-index: 1;
    
    height: 30px;
    top: 0px;
    background-color: #dddddd;
    padding-left: 10px;
}

.findContainer span {
    background-color: #dddddd;
    width: 25px;
    height: 30px;
}

.findContainer .find {
    margin: 0;
    display: inline;
    width: 400px;
    height: 30px;
}



.tabs-content {
    position: absolute;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 200px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table thead th,
table tbody td, table tbody th {
    border: 1px solid #dddddd;
    text-align: left;
    font-size: .8rem;
    padding: 8px;
    text-indent: 8px;
}

table tbody tr:nth-child(even) {
    background-color: #dddddd;
}

.basicContext tbody tr:nth-child(even) {
    background-color: white;
}

table tbody tr:nth-child(odd)[data-find-flag],
table tbody tr:nth-child(even)[data-find-flag] {
  /*background-color: #809fff;*/
  background-color: #b3c6ff;
}

.selected,
table tbody tr:nth-child(odd).selected,
table tbody tr:nth-child(even).selected {
    background-color: var(--main-color);
    /*outline: 1px solid var(--main-color);*/
    /*font-weight: bold;*/
    color: white;
}

/*#CallersTree {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}*/

/*.name-col {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    width: 50%;
}*/

#callersTree .branch td span.indenter a {
    background-image: url("../static/images/right-arrow.png");
    background-size: 16px;
}

#callersTree .expanded td span.indenter a {
    background-image: url("../static/images/down-arrow.png");
    background-size: 16px;
}

#calleesTree .branch td span.indenter a {
    background-image: url("../static/images/right-arrow.png");
    background-size: 16px;
}

#calleesTree .expanded td span.indenter a {
    background-image: url("../static/images/down-arrow.png");
    background-size: 16px;
}

#call-tree .branch td span.indenter a {
    background-image: url("../static/images/right-arrow.png");
    background-size: 16px;
}

#call-tree .expanded td span.indenter a {
    background-image: url("../static/images/down-arrow.png");
    background-size: 16px;
}



/*
Footer View
-----------
*/
#footer {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: .9em;
  margin: 0;

  background:var(--main-color);

  display: flex;
  flex-flow: row;

  height: 2em;

  margin-bottom: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
}

#footer #statusBar {
  flex-grow: 1;
}

#footer #toggle {
  min-width: 17em;
}

#footer #statusBar span {
  line-height: 2em;
  margin-left: .7em;
}

#footer #toggle span {
  line-height: 2em;
}
/*----------*/





.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}