<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Stack Viewer</title>
    <link rel="stylesheet" href="../static/foundation-6.2.3-custom/css/foundation.css">
    <link rel="stylesheet" href="../static/foundation-6.2.3-custom/css/app.css">
    <link href="../libraries/jquery.treetable/css/jquery.treetable.css" rel="stylesheet" type="text/css" />
    <link href="../static/stackviewer.css" rel="stylesheet" type="text/css" />

    <!-- basicContext Theme -->
    <link rel="stylesheet" href="../node_modules/basiccontext/dist/basicContext.min.css">
     <!--<link rel="stylesheet" href="../node_modules/basiccontext/dist/themes/default.min.css">--> 
    <link rel="stylesheet" href="../node_modules/basiccontext/dist/themes/bright.min.css">
    <link rel="stylesheet" href="../node_modules/basiccontext/dist/addons/popin.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
    <!-- NAVIGATION, TOP STATUS BAR, FILTER INPUTS, & TAB BUTTONS -->
    <div class="fixedContainer">
        <!-- NAVIGATION (This div will be replaced with templates/navbar.html when document is loaded) -->
        <div class="nav"></div>

        <!-- TOP STATUS BAR 
            This status bar's text will get replaced with the stack's ROOT node column data -->
        <div id="top-status-bar">Totals Metric:  Count:  First:  Last:  Last-First:  Metric/Interval:  TimeBucket:  TotalProcs:</div>

        <!-- STACK FILTERS -->
        <form id="filtersForm" class="row fullWidth align-middle">
            <div class="singleFilterContainer small-12 medium-4 large-3 columns">
                <label>Start:</label>
                <input class="filter" id="start-filter" name="start" list="start-filter-list" type="text">
                <datalist id="start-filter-list"></datalist>
            </div>

            <div class="singleFilterContainer small-12 medium-4 large-3 columns">
                <label>End:</label>
                <input class="filter" id="end-filter" name="end" list="end-filter-list" type="text">
                <datalist id="end-filter-list"></datalist>
            </div>

            <div class="singleFilterContainer small-12 medium-4 large-3 columns">
                <label>GroupPats:</label>
                <input class="filter" id="grouppats-filter" name="grouppats" list="grouppats-filter-list" type="text">
                <datalist id="grouppats-filter-list"></datalist>
            </div>

            <div class="singleFilterContainer small-12 medium-4 large-3 columns">
                <label>Fold%:</label>
                <input class="filter" id="foldpercent-filter" name="foldpct" list="foldpercent-filter-list" type="text" value="1">
                <datalist id="foldpercent-filter-list"></datalist>
            </div>

            <div class="singleFilterContainer small-12 medium-4 large-3 columns">
                <label>FoldPats:</label>
                <input class="filter" id="foldpats-filter" name="foldpats" list="foldpats-filter-list" type="text">
                <datalist id="foldpats-filter-list"></datalist>
            </div>

            <div class="singleFilterContainer small-12 medium-4 large-3 columns">
                <label>IncPats:</label>
                <input class="filter" id="incpats-filter" name="incpats" list="incpats-filter-list" type="text">
                <datalist id="incpats-filter-list"></datalist>
            </div>

            <div class="singleFilterContainer small-12 medium-4 large-3 columns">
                <label>ExcPats:</label>
                <input class="filter" id="excpats-filter" name="excpats" list="excpats-filter-list" type="text">
                <datalist id="excpats-filter-list"></datalist>
            </div>
        </form>

        <!-- TAB BUTTONS -->
        <ul class="tabs" data-tabs id="tabs">
            <li class="tabs-title is-active"><a href="#by-name" aria-selected="true">By Name</a></li>
            <li class="tabs-title"><a href="#call-tree">CallTree</a></li>
            <li class="tabs-title"><a href="#callers">Callers</a></li>
            <li class="tabs-title"><a href="#callees">Callees</a></li>
        </ul>
    </div>

    <!-- TABS CONTENT -->
    <div class="tabs-content" data-tabs-content="tabs">
        <!-- BY NAME Container -->
        <div class="tabs-panel is-active" id="by-name">
            <!-- Find Input (search textbox) -->
            <div class="findContainer" style="display: none;">
                <span>Find:</span><input class="find" name="find" type="text">
                <div class="searchNavButtons" style="display: none;">
                    <a href="#" class="prev">prev</a>
                    <a href="#" class="next">next</a>
                    <span>0/0</span>
                </div>
            </div>
            <!-- By Name TreeTable -->
            <table id="by-name-list">
                <thead>
                    <tr>
                        <th style="width: 70%;">Name</th>  <!-- width: 70% sets the 'Name' column to get most of the width -->
                        <th>Exc %</th>
                        <th>Exc</th>
                        <th>Inc %</th>
                        <th>Inc</th>
                        <th>Fold</th>
                        <th>First</th>
                        <th>Last</th>
                    </tr>
                </thead>
                <tbody></tbody>  <!-- Stack data will go here -->
            </table>
        </div>

        <!-- CALLTREE Container -->
        <div class="tabs-panel" id="call-tree">
            <!-- Find Input (search textbox) -->
            <div class="findContainer" style="display: none;">
                <span>Find:</span><input class="find" name="find" type="text">
                <div class="searchNavButtons" style="display: none;">
                    <a href="#" class="prev">prev</a>
                    <a href="#" class="next">next</a>
                    <span>0/0</span>
                </div>
            </div>
            <!-- CallTree TreeTable -->
            <table id="call-treeTree">
                <thead>
                    <tr>
                        <th style="width: 70%;">Name</th>
                        <th>Inc %</th>
                        <th>Inc</th>
                        <th>Exc %</th>
                        <th>Exc</th>
                        <th>Fold</th>
                        <th>First</th>
                        <th>Last</th>
                    </tr>
                </thead>
                <tbody></tbody>  <!-- Stack data will go here -->  
            </table>
        </div>

        <!-- CALLERS Container -->
        <div class="tabs-panel" id="callers">
            <!-- Find Input (search textbox) -->
            <div class="findContainer" style="display: none;">
                <span>Find:</span><input class="find" name="find" type="text">
                <div class="searchNavButtons" style="display: none;">
                    <a href="#" class="prev">prev</a>
                    <a href="#" class="next">next</a>
                    <span>0/0</span>
                </div>
            </div>
            <!-- Callers TreeTable -->
            <table id="callersTree">
                <thead>
                    <tr>
                        <th style="width: 70%;">Name</th>
                        <th>Inc %</th>
                        <th>Inc</th>
                        <th>Exc %</th>
                        <th>Exc</th>
                        <th>Fold</th>
                        <th>First</th>
                        <th>Last</th>
                    </tr>
                </thead>
                <tbody></tbody>  <!-- Stack data will go here -->
            </table>
        </div>

        <!-- CALLEES Container -->
        <div class="tabs-panel" id="callees">
            <!-- Find Input (search textbox) -->
            <div class="findContainer" style="display: none;">
                <span>Find:</span><input class="find" name="find" type="text">
                <div class="searchNavButtons" style="display: none;">
                    <a href="#" class="prev">prev</a>
                    <a href="#" class="next">next</a>
                    <span>0/0</span>
                </div>
            </div>
            <!-- Callees TreeTable -->
            <table id="calleesTree">
                <thead>
                    <tr>
                        <th style="width: 70%;">Name</th>
                        <th>Inc %</th>
                        <th>Inc</th>
                        <th>Exc %</th>
                        <th>Exc</th>
                        <th>Fold</th>
                        <th>First</th>
                        <th>Last</th>
                    </tr>
                </thead>
                <tbody></tbody>  <!-- Stack data will go here -->
            </table>
        </div>
    </div>


    <footer id="footer"></footer>  <!-- BOTTOM STATUS BAR (This div will be replaced with templates/footer.html when document is loaded) -->



    <!-- This allows for script tags and requires('') to work both in the Browser AND Electron -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>


    <!-- jQuery includes -->
    <script src="../static/foundation-6.2.3-custom/js/vendor/jquery.js"></script>
    <script src="../libraries/jquery.treetable/jquery.treetable.js"></script>

    <!-- Resizable table columns library include -->
    <script src="../libraries/colResizable-1.6.min.js"></script>

    <!-- Delegate that acts a liaison between the UI code on this page and the backend service.
        Any calls in stackviewer.html that refer to the service side go through this delegate. -->
    <script src="../js/stackDelegate.js"></script>

    <!-- Foundation scripts includes
        Foundation is like Bootstrap; we're using it's grid system for things like the tabs and to place other UI elements. -->
    <script src="../static/foundation-6.2.3-custom/js/vendor/what-input.js"></script>
    <script src="../static/foundation-6.2.3-custom/js/vendor/foundation.js"></script>
    <script src="../libraries/bluebird.min.js"></script>

    <!-- basicContext Library
        This is the context (right-click) menu -->
    <script src="../node_modules/basiccontext/dist/basicContext.min.js"></script>

    <!-- Template Including -->
    <script>
        var join = Promise.join;
        
        var navbar = $.get('templates/navbar.html');  // Navbar
        var footer = $.get('templates/footer.html');  // Bottom Status Bar
        
        /* This Promise waits for both the Navbar AND Footer elements
           to be included before appending them. This is also the point
           at which it's safe to initialize the Foundation library (because
           all of the elements have been loaded) */
        join(navbar, footer, function(navbarResult, footerResult) {
            // Appends navbar.html content to the class="nav" div
            var nav = $(navbarResult).children();
            $('.nav').append(nav);

            // Appends footer.html content to the id="footer" div
            var foot = $(footerResult).children();
            $('#footer').append(foot);

            // FOUNDATION Library Initialization
            $(document).foundation();
            positionTabsContent();
        });

        // Moves all the table content up and down according to the height of the id="fixedContainer"
        function positionTabsContent() {
            var offset = $(".fixedContainer").height() + 80;
            $(".tabs-content").css("top", offset);
        }

        // Listens for window resize event
        $(window).resize(function() {
            positionTabsContent();
        });
    </script>

    
    <script>
        $(document).ready(function () {
            // Indenter template is the element(s) that go at the beginning of each row in the treetable
            // The treetable library applies indenting to this which is how child rows get pushed to the right
            var indenterTemplate = "<span class=\"indenter\"><a href=\"#\">&nbsp;</a></span>";

            // Initialize by-name-list treetable
            $("#by-name-list").treetable({
                indenterTemplate: "<span></span>",  // The by-name-list treetable is really more of a list (e.g. there won't be any children - hence no dropdown buttons)
                onInitialized: function() {
                    // Apply the column resizability library to the by-name-list treetable
                    $("#by-name-list").colResizable({
                        liveDrag: true
                    });
                }
            });

            // Initialize call-treeTree treetable
            $("#call-treeTree").treetable({
                expandable: true,
                indenterTemplate: indenterTemplate,
                onNodeExpand: function () {  // When user clicks to expand a node
                    var node = this;
                    onTreeNodeExpand(node, "#call-treeTree");
                },
                onNodeCollapse: function() {  // When user clicks to collapse a node
                    var node = this;
                    onTreeNodeCollapse(node, "#call-treeTree");
                }
            });
            
            // Load data into by-name-list and call-treeTree
            stackDelegate.filters = $("#filtersForm").serialize();  // In case there are any default filter values set
            loadAndDisplayData(["by-name-list", "call-treeTree"], false);

            // Listens for tab change event.
            $('#tabs').on('change.zf.tabs', function() {
                // This is here simply because the column resizability library cannot be applied until the relevant table comes into visible view.
                // Essentially, this is lazily applying the resizability library to each table.
                $("#" + $(".is-active table").attr("id")).colResizable({
                    liveDrag: true
                });
            });

            // Initialize callersTree and possibly set some properties
            $("#callersTree").treetable({
                expandable: true,
                indenterTemplate: indenterTemplate,
                onNodeExpand: function () {  // When user clicks to expand a node
                    var node = this;
                    onTreeNodeExpand(node, "#callersTree");
                },
                onNodeCollapse: function() {  // When user clicks to collapse a node
                    var node = this;
                    onTreeNodeCollapse(node, "#callersTree");
                }
            });

            // Initialize calleesTree and possibly set some properties
            $("#calleesTree").treetable({
                expandable: true,
                indenterTemplate: indenterTemplate,
                onNodeExpand: function () {  // When user clicks to expand a node
                    var node = this;
                    onTreeNodeExpand(node, "#calleesTree");
                },
                onNodeCollapse: function() {  // When user clicks to expand a node
                    var node = this;
                    onTreeNodeCollapse(node, "#calleesTree");
                }
            });

            /* CONTEXT MENU EVENT LISTENERS */
            // This is attaching the BasicContext menu to the context event listern of all the objects listed in querySelectorAll()
            // Essentially, this is what enables right clicks on the specified elements
            var nodeList = document.querySelectorAll('#by-name-list tbody, #call-treeTree tbody, #callersTree tbody, #calleesTree tbody')
            for (var i = 0; i < nodeList.length; ++i) {
                var node = nodeList[i];

                node.addEventListener('contextmenu', function(e) {
                    let items = [
                      { title: 'Set Time Range', icon: 'ion-clock', fn: function() { setTimeRange(e); } },
                      { title: 'Include Item', icon: 'ion-plus', fn: function() { includeItem(e); } },
                      { title: 'Exclude Item', icon: 'ion-minus', fn: function() { excludeItem(e); } },
                      { title: 'Fold Item', icon: 'ion-filing', fn: function() { foldItem(e); } },
                      { title: 'Remove All Folding', icon: 'ion-android-remove-circle', fn: function() { removeAllFolding(); } },
                      { title: 'Clear Filters', icon: 'ion-android-remove-circle', fn: function() { clearFilters(); } }
                    ]

                    basicContext.show(items, e)
                });
            }

            /* CONTEXT MENU FUNCTIONS */

            // Set First (id=first-filter) and Last (id=last-filter) filters to the time range of the row that was rigt clicked on
            function setTimeRange(e) {
                // Get the first and last metrics from this row
                var first = $(e.target.parentNode).find(".firstTimeRelativeMSec").text();
                var last = $(e.target.parentNode).find(".lastTimeRelativeMSec").text();

                // Place them in first-filter and last-filter, respectively
                $("#start-filter").val(first);
                $("#end-filter").val(last);
                
                // This triggers the keypress by simulating an 'Enter' key press in one of the filter inputs,
                // which in turn triggers a request to the server.
                var press = jQuery.Event("keypress");
                press.ctrlKey = false;
                press.which = 13;  // 13 == 'Enter' key
                $("#start-filter").trigger(press);
            }

            // Add this item to IncPats Filter (id=incpats-filter)
            function includeItem(e) {
                // See setTimeRange(e) function for details on the following similar logic
                var name = $(e.target.parentNode).find(".name-col").text();
                if (name == "ROOT") { name = '^' + name; }

                var incpatsFilter = $("#incpats-filter");
                incpatsFilter.val(incpatsFilter.val() == "" ? name : incpatsFilter.val() + ";" + name);
                
                var press = jQuery.Event("keypress");
                press.ctrlKey = false;
                press.which = 13;
                $("#incpats-filter").trigger(press);
            }

            // Add this item to ExcPats Filter (id=excpats-filter)
            function excludeItem(e) {
                // See setTimeRange(e) function for details on the following similar logic
                var name = $(e.target.parentNode).find(".name-col").text();

                var excpatsFilter = $("#excpats-filter");
                excpatsFilter.val(excpatsFilter.val() == "" ? name : excpatsFilter.val() + ";" + name);
                
                var press = jQuery.Event("keypress");
                press.ctrlKey = false;
                press.which = 13;
                $("#excpats-filter").trigger(press);
            }

            // Adds this item to FoldPats (id=foldpats-filter)
            function foldItem(e) {
                // See setTimeRange(e) function for details on the following similar logic
                var name = $(e.target.parentNode).find(".name-col").text();

                var foldpatsFilter = $("#foldpats-filter");
                foldpatsFilter.val(foldpatsFilter.val() == "" ? name : foldpatsFilter.val() + ";" + name);
                
                var press = jQuery.Event("keypress");
                press.ctrlKey = false;
                press.which = 13;
                $("#foldpats-filter").trigger(press);
            }

            // Clears fold-related filters
            function removeAllFolding() {
                // See setTimeRange(e) function for details on the following similar logic
                $("#foldpercent-filter").val("");
                $("#foldpats-filter").val("");

                var press = jQuery.Event("keypress");
                press.ctrlKey = false;
                press.which = 13;
                $("#foldpats-filter").trigger(press);
            }

            // Clears all the filters
            function clearFilters() {
                // See setTimeRange(e) function for details on the following similar logic
                $("#start-filter").val("");
                $("#end-filter").val("");
                $("#grouppats-filter").val("");
                $("#foldpats-filter").val("");
                $("#incpats-filter").val("");
                $("#excpats-filter").val("");

                var press = jQuery.Event("keypress");
                press.ctrlKey = false;
                press.which = 13;
                $("#excpats-filter").trigger(press);
            }
        });



        /*_____________________________________*/
        /*______ TABLE UPDATER FUNCTION _______*/
        /*_____________________________________*/
        /*
           This function iterates through the stack data and generates html table row for each node.
           It takes the following paremeters:
           updateTreeTableHtml(String, jQuery TreeTable Node, Deserialized Stack JSON)
        */
        function updateTreeTableHtml(treeTableId, parentNode, stackData) {
            var rowsToAppend = "";  // The string that we'll use to build up the html table
            var dataIncludesSearchResults = false;  // This will flip to true if any of the nodes contain a flag indicating they were the result of a search

            for (var i = 0; i < stackData.length; ++i) {
                // Evaluate if node was the result of a search; if it was, as "data-find-flag=#" as an attribute on the row.
                // This allows the finder to navigate to nodes that were the result of a search.
                var findFlag = (stackData[i].findFlag != "" && treeTableId == "#" + $(".tabs-panel.is-active table").attr("id") ? "\" data-find-flag=\"" + stackData[i].findFlag : "");
                dataIncludesSearchResults = dataIncludesSearchResults || findFlag.length;

                // Some required attributes so the jQuery TreeTable works
                rowsToAppend = rowsToAppend + "<tr data-tt-id=\"" + stackData[i].contextId
                                            + "\" data-tt-parent-id=\"" + stackData[i].parentContextId
                                            + "\" data-tt-branch=\"" + stackData[i].hasChildren  // essentially, will it have a dropdown arrow
                                            + findFlag
                                            + "\">";

                rowsToAppend = rowsToAppend + "<td class=\"name-col selectable\">" + stackData[i].name + "</td>"
                                    + (treeTableId == "#by-name-list" ? "<td class=\"exclusiveMetricPercent selectable\">" + stackData[i].exclusiveMetricPercent.toFixed(3) : "<td class=\"inclusiveMetricPercent selectable\">" + stackData[i].inclusiveMetricPercent.toFixed(3)) + "</td>"
                                    + (treeTableId == "#by-name-list" ? "<td class=\"exclusiveMetric selectable\">" + stackData[i].exclusiveMetric : "<td class=\"inclusiveMetric selectable\">" + stackData[i].inclusiveMetric) + "</td>"
                                    + (treeTableId == "#by-name-list" ? "<td class=\"inclusiveMetricPercent selectable\">" + stackData[i].inclusiveMetricPercent.toFixed(3) : "<td class=\"exclusiveMetricPercent selectable\">" + stackData[i].exclusiveMetricPercent.toFixed(3)) + "</td>"
                                    + (treeTableId == "#by-name-list" ? "<td class=\"inclusiveMetric selectable\">" + stackData[i].inclusiveMetric : "<td class=\"exclusiveMetric selectable\">" + stackData[i].exclusiveMetric) + "</td>\
                                    <td class=\"exclusiveFoldedCount selectable\">" + stackData[i].exclusiveFoldedCount + "</td>\
                                    <td class=\"firstTimeRelativeMSec selectable\" relevant-filter-id=\"#start-filter\">" + stackData[i].firstTimeRelativeMSec.toFixed(3) + "</td>\
                                    <td class=\"lastTimeRelativeMSec selectable\" relevant-filter-id=\"#end-filter\">" + stackData[i].lastTimeRelativeMSec.toFixed(3) + "</td>\
                                    </tr>";
            }
            // Load all these html rows into the correct table
            $(treeTableId).treetable("loadBranch", parentNode, rowsToAppend);  // treetable treats a null node parameter as meaning root
                
            // Open all the paths to nodes found from a search
            if (dataIncludesSearchResults) {
                $(treeTableId + " tbody tr").each(function(index) {
                    var hasChildren = $(treeTableId).treetable("node", $(this).attr("data-tt-id")).children.length > 0;
                    if (hasChildren) { $(treeTableId).treetable("expandNode", $(this).attr("data-tt-id")) };
                }); 
            }
        }

        
        /*_____________________________________*/
        /*_______ TABLE EVENT LISTENERS _______*/
        /*_____________________________________*/

        /*
           by-name-list click event
           Sets the new focus node to be the clicked node and reloads the stack data, given the new context
        */
        $(document).on("dblclick", "#by-name-list tbody tr td:first-child", function (row) {
            // Get the row as a jQuery TreeTable node; need to get its data-tt-id to do that
            var clickedNodeId = row.currentTarget.parentElement.getAttribute("data-tt-id");
            var node = $("#by-name-list").treetable("node", clickedNodeId);
            
            // TODO: Need to create a CLONE of the clicked node and switch its Exc%, Exc, Inc%, and Inc
            // Somehow, the below code is NOT performing a deep copy, which needs to happen.
            //var newFocusNode = jQuery.extend(true, {}, node);
            var newFocusNode = node;  // node.clone(); is not working!
            //switchExclusiveAndInclusiveMetricsElements(newFocusNode);

            stackDelegate.setFocusNode(newFocusNode);  // Sets the focus node to the click node
            $('#tabs').foundation('selectTab', $("#callers"));  // Switch to Callers tab

            loadAndDisplayData(["callersTree", "calleesTree"], false);
            stackDelegate.clearSelectedCell();
        });

        //function switchExclusiveAndInclusiveMetricsElements(node) {
        //    // TODO: Use id's of td elements instead of indexing
        //    var exclusiveMetricPercent = $(node.row[0].children[1]).text();
        //    var exclusiveMetric = $(node.row[0].children[2]).text();
        //    var inclusiveMetricPercent = $(node.row[0].children[3]).text();
        //    var inclusiveMetric = $(node.row[0].children[4]).text();
        //    $(node.row[0].children[1]).text(inclusiveMetricPercent);
        //    $(node.row[0].children[2]).text(inclusiveMetric);
        //    $(node.row[0].children[3]).text(exclusiveMetricPercent);
        //    $(node.row[0].children[4]).text(exclusiveMetric);
        //}

        /*
           callersTree click event
           Sets the new focus node to be the clicked node and reloads the stack data, given the new context
        */
        $(document).on("dblclick", "#callersTree tbody tr td:first-child", function (row) {
            if (row.target !== this) { return; }

            // Get the row as a jQuery TreeTable node; need to get its data-tt-id to do that
            var clickedNodeId = row.currentTarget.parentElement.getAttribute("data-tt-id");
            
            var newFocusNode = $("#callersTree").treetable("node", clickedNodeId);
            stackDelegate.setFocusNode(newFocusNode);

            loadAndDisplayData(["callersTree", "calleesTree"], false);
            stackDelegate.clearSelectedCell();
        });


        /*
            calleesTree click event
            Sets the new focus node to be the clicked node and reloads the stack data, given the new context
        */
        $(document).on("dblclick", "#calleesTree tbody tr td:first-child", function (row) {
            if (row.target !== this) { return; }

            var clickedNodeId = row.currentTarget.parentElement.getAttribute("data-tt-id");
            
            var newFocusNode = $("#calleesTree").treetable("node", clickedNodeId);
            stackDelegate.setFocusNode(newFocusNode);

            loadAndDisplayData(["calleesTree", "callersTree"], false);
            stackDelegate.clearSelectedCell();
        });

        // Handles highlighting a table cell when its clicked
        $(document).on("click", ".is-active table tbody tr td", function(cell) {
            if ($(cell.target).is(".selectable")) {
                stackDelegate.setSelectedCell(cell.target);
            }
        });

        // Places the data in a cell into its respective filter, if it has a relevant-filter-id data attribute
        // Right now, only cells in columns 'First' and 'Last' have relevant-filter-ids
        $(document).on("dblclick", ".is-active table tbody tr td", function (cell) {
            var filterId = $(cell.target).attr("relevant-filter-id");
            $(filterId).val($(cell.target).text());
        });


        /*_______________________________________________*/
        /*_______ LOAD STACKS AND POPULATE TABLES _______*/
        /*_______________________________________________*/
        /* 
            This function has the following signature:
            loadAndDisplayData(String[], Boolean)
        */
        function loadAndDisplayData(treesToUpdate, includeSearch=true) {
            // DISPLAY BY-NAME DATA
            if (treesToUpdate == null || treesToUpdate.includes("by-name-list")) {
                var options = { "includeSearch" : includeSearch };
                // stackDelegate handles the AJAX request
                stackDelegate.getSummaryData(function (summaryStackData) {
                    // Empty out any old data
                    $("#by-name-list tbody").empty();

                    // Load the new data into the by-name-list TreeTable
                    updateTreeTableHtml("#by-name-list", null, stackDelegate.summaryStackData);

                    // TODO: This might be redundant
                    if (stackDelegate.focusNode != null) {
                        var newFocusNode = $("#by-name-list").treetable("node", stackDelegate.focusNode.id);
                        stackDelegate.setFocusNode(newFocusNode);
                    }

                    // If a search was performed, navigate to the first found element
                    // This can easily be done by simulating a click on 'next'
                    if (includeSearch) {
                        displayFindNavigation("#by-name-list", "#by-name");
                        $("#by-name .searchNavButtons .next").click();
                    }
                }, options);
            }

            // LOAD AND DISPLAY CALLTREE DATA
            if (treesToUpdate == null || treesToUpdate.includes("call-treeTree")) {
                stackDelegate.getNode("ROOT", function(nodeData){
                    $("#call-treeTree tbody").empty();

                    // Place root node into tree
                    updateTreeTableHtml("#call-treeTree", null, [nodeData]);

                    var options = {
                        "overrideFocusNode" : "ROOT",
                        "includeSearch" : includeSearch,
                        "call-treeTree" : true
                    };
                    stackDelegate.getCalleesData(function (callTreeStackData, status) {
                        // Conveniently use the data to update the top-status-bar, which
                        // elicits all the ROOT node metrics (same as ROOT node row data).
                        $("#top-status-bar").html("Totals Metric: " + nodeData.inclusiveMetric + ",  Count: " + nodeData.inclusiveMetric + ",  First: " + nodeData.firstTimeRelativeMSec.toFixed(3) + ",  Last: " + nodeData.lastTimeRelativeMSec.toFixed(3) + ",  Last-First: " + (nodeData.lastTimeRelativeMSec - nodeData.firstTimeRelativeMSec).toFixed(3) + ", TotalProcs: " + callTreeStackData.length);

                        // Place data into the call-treeTree TreeTable
                        var parentNode = $("#call-treeTree").treetable("node", "ROOT");
                        updateTreeTableHtml("#call-treeTree", parentNode, callTreeStackData);

                        // If a search was performed, navigate to the first found element
                        // This can easily be done by simulating a click on 'next'
                        if (includeSearch) {
                            displayFindNavigation("#call-treeTree", "#call-tree");
                            $("#call-tree .searchNavButtons .next").click();
                        }
                    }, options);
                });
            }

            // LOAD AND DISPLAY CALLERS DATA
            if ((treesToUpdate == null || treesToUpdate.includes("callersTree")) && stackDelegate.focusNode != null) {
                var options = {"includeSearch" : includeSearch};
                stackDelegate.getCallersData(function (callersStackData, status) {
                    $("#callersTree tbody").empty();

                    var focusNodeHtml = "<tr data-tt-id=\"" + stackDelegate.focusNode.id
                                        + "\" data-tt-branch=\"true\" direct-children-loaded=\"true\">\
                                        " + stackDelegate.focusNode.row[0].innerHTML + "\
                                        " + "</tr>";

                    // Must use stackDelegate.focusNode as parent node for this tree table
                    $("#callersTree").treetable("loadBranch", null, focusNodeHtml);
                    var parentNode = $("#callersTree").treetable("node", stackDelegate.focusNode.id);

                    // Place data in callersTree TreeTable
                    updateTreeTableHtml("#callersTree", parentNode, callersStackData);

                    // If a search was performed, navigate to the first found element
                    // This can easily be done by simulating a click on 'next'
                    if (includeSearch) {
                        displayFindNavigation("#callersTree", "#callers");
                        $("#callers .searchNavButtons .next").click();
                    }
                }, options);
            }
            
            // LOAD AND DISPLAY CALLEES DATA
            if ((treesToUpdate == null || treesToUpdate.includes("calleesTree")) && stackDelegate.focusNode != null) {
                var options = {"includeSearch" : includeSearch};
                stackDelegate.getCalleesData(function (calleesStackData, status) {
                    $("#calleesTree tbody").empty();

                    var focusNodeHtml = "<tr data-tt-id=\"" + stackDelegate.focusNode.id
                                        + "\" data-tt-branch=\"true\" direct-children-loaded=\"true\">\
                                        " + stackDelegate.focusNode.row[0].innerHTML + "\
                                        " + "</tr>";

                    // Must use stackDelegate.focusNode as parent node for this tree table
                    $("#calleesTree").treetable("loadBranch", null, focusNodeHtml);
                    var parentNode = $("#calleesTree").treetable("node", stackDelegate.focusNode.id);

                    // Place data in calleesTree TreeTable
                    updateTreeTableHtml("#calleesTree", parentNode, calleesStackData);

                    // If a search was performed, navigate to the first found element
                    // This can easily be done by simulating a click on 'next'
                    if (includeSearch) {
                        displayFindNavigation("#calleesTree", "#callees");
                        $("#callees .searchNavButtons .next").click();
                    }
                }, options);
            }
        }


        /* Tree node expand event */
        function onTreeNodeExpand(node, treeName) {
            if (node.children.length > 0) { return; }

            var options = {"overrideFocusNode" : node.id };

            /* Get the child nodes of the node that was expanded */
            if (treeName == "#callersTree") {
                stackDelegate.getCallersData(function (callersStackData, status) {
                    if (status == "success") {
                        node.row[0].setAttribute("direct-children-loaded", "true");

                        // Place data under clicked node
                        updateTreeTableHtml(treeName, node, callersStackData);
                    }
                }, options);
            } else if (treeName == "#calleesTree") {
                stackDelegate.getCalleesData(function (calleesStackData, status) {
                    if (status == "success") {
                        node.row[0].setAttribute("direct-children-loaded", "true");

                        // Place data under clicked node
                        updateTreeTableHtml(treeName, node, calleesStackData);
                    }
                }, options);
            } else if (treeName == "#call-treeTree") {
                stackDelegate.getCalleesData(function (calleesStackData, status) {
                    if (status == "success") {
                        node.row[0].setAttribute("direct-children-loaded", "true");

                        // Place data under clicked node
                        updateTreeTableHtml(treeName, node, calleesStackData);
                    }
                }, options);
            }
        }

        /* Tree node collapse event */
        function onTreeNodeCollapse(node, treeName) {
            if (node.children.length <= 0) { return; }
            
            // Collapse this node as well any children of it that are expanded
            for (var i = 0; i < node.children.length; ++i) {
                var child = node.children[i];
                $(treeName).treetable("collapseNode", child.id);
                onTreeNodeCollapse(child, treeName);
            }
        }

        /* Display the find bar in the top right of the screen */
        function displayFindNavigation(treeId, tabId) {
            // Search for all the nodes that have a data-find-flag attribute on them
            var targetNodesFound = 0;
            $(treeId + " tbody tr").each(function(index) {
                var findFlag = $(this).attr("data-find-flag");

                if (findFlag != undefined) {
                    targetNodesFound++;
                }
            });

            // Set the number for the find bar (e.g. 0/14)
            $(tabId + " .searchNavButtons span").text("0/" + targetNodesFound);

            // Display the find bar
            $(tabId + " .searchNavButtons").show();
        }

        // Find next click event listener
        $(".next").click(function (e) {
            changeFindCounter(e, 1);
        });

        // Find previous click event listener
        $(".prev").click(function (e) {
            changeFindCounter(e, -1);
        });

        $("body").keydown(function(e) {
            if (e.ctrlKey) {
                if (e.which == 39 || e.which == 40) {
                    // Ctrl + right arrow OR Ctrl + down arrow
                    $(".is-active .searchNavButtons .next").click();
                } else if (e.which == 37 || e.which == 38) {
                    // Ctrl + left arrow OR Ctrl + up arrow
                    $(".is-active .searchNavButtons .prev").click();
                }
            } else if (e.which == 27) {
                // Esc (escape) key
                $(".is-active .searchNavButtons").hide();
                $(".is-active .findContainer").hide();
                $(".is-active .findContainer input").val("");
                stackDelegate.clearSelectedCell();

                // TODO: This "each" method of deleting data-find-flags could take a while on larger data sets
                // Instead, maybe keep a list of pointers (in the stackDelegate) to all the found nodes
                $(".is-active table tbody tr").each(function(index) {
                    var findFlag = $(this).attr("data-find-flag");

                    if (findFlag != undefined) {
                        $(this).removeAttr("data-find-flag");
                    }
                });
            }
        });

        // Find 'next' or 'prev' handler
        function changeFindCounter(e, i) {
            var itemIndicator = $(e.target.parentNode).find('span');  // e.g. 2/14
            var numbersFromIndicator = itemIndicator.text().split('/');  // e.g. ('2', '14')

            var current = parseInt(numbersFromIndicator[0]);  // e.g. 2
            var total = parseInt(numbersFromIndicator[1]);  // e.g. 14

            if (total <= 0) { return; }
            
            // Navigate to next item
            current = (current + i) % total;
            current = current == 0 ? total : current;
            var targetNode = $(".is-active").find("[data-find-flag='" + current + "']");

            // Open path to this node.
            // This can be accomplished by opening all of this node's parents.
            var nodeId = $(".is-active .treetable").treetable("node", targetNode.attr("data-tt-id")).parentId;
            while (nodeId !== undefined && nodeId != null && nodeId != "") {
                var node = $(".is-active .treetable").treetable("node", nodeId);
                $(".is-active .treetable").treetable("expandNode", nodeId);
                nodeId = node.parentId;
            }

            // Navigate the page to that node
            $('html, body').animate({
                scrollTop: targetNode.offset().top - 400
            }, 100);

            stackDelegate.setSelectedCell(targetNode);

            // Update itemIndicator with new current number
            itemIndicator.text(current + '/' + total);
        }

        // Find bar (Ctrl-F) listener
        $(window).keydown(function(e){
            if ((e.ctrlKey || e.metaKey) && e.keyCode === 70) {
                e.preventDefault();
                $(".is-active .findContainer").show();
                $(".is-active .findContainer input").focus();
            }
        });

        // Find bar 'Enter' key listener
        $(".filter, .find").keypress(function (e) {
            // If the user pressed enter in a filter textfield
            if (e.which == 13) {
                stackDelegate.filters = $("#filtersForm").serialize();

                // If find was used, only update the current tab
                if (e.target.name == "find") {
                    var activeTreeName = $(".tabs-panel.is-active table").attr("id");
                    loadAndDisplayData([activeTreeName]);
                } else {
                    // Get updated summary stack data again and update By Name tab
                    loadAndDisplayData();
                }
            }
        });
    </script>


    <!-- Do NOT Delete
      This allows for script tags and require statements to work both in the browser and in Electron -->
    <script>if (window.module) module = window.module;</script>



</body>
</html>