@{
    ViewBag.Title = "Callers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><a href="/stackviewer/summary?@Model.ToString()">Profile Summary</a> &raquo; Methods that call <span style="text-decoration: underline; background: #e9967a">@Model.Node.Name</span></h4>

@using TraceEventAPIServer.Extensions
@model TraceEventAPIServer.Models.CallersViewStackViewerViewModel

<table id="calltree">
    <thead>
        <tr>
            <td><a href="/Content/documentation.html#Name">Name</a></td>
            <td><a href="/Content/documentation.html#Source">Source</a></td>
            <td><a href="/Content/documentation.html#IncMetricP">Inclusive Metric %</a></td>
            <td><a href="/Content/documentation.html#IncMetric">Inclusive Metric</a></td>
            <td><a href="/Content/documentation.html#IncMetricC">Inclusive Count</a></td>
            <td><a href="/Content/documentation.html#ExcMetricP">Exclusive Metric %</a></td>
            <td><a href="/Content/documentation.html#ExcMetric">Exclusive Metric</a></td>
            <td><a href="/Content/documentation.html#ExcMetricC">Exclusive Count</a></td>
            <td><a href="/Content/documentation.html#FoldCount">Fold Count</a></td>
            <td><a href="/Content/documentation.html#First">First</a></td>
            <td><a href="/Content/documentation.html#Last">Last</a></td>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(x => x.Node)
    </tbody>
</table>

@section scripts
{
    <script src="/jquery.treetable.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var table = $("#calltree");

            table.treetable({
                expandable: true,
                indent: 5,
                onNodeCollapse: function () {
                    var node = this;
                    table.treetable("unloadBranch", node);
                },
                onNodeExpand: function () {
                    var node = this;
                    var path = "";
                    var slashIndex = node.id.indexOf("/");
                    if (slashIndex != -1) {
                        path = node.id.substring(slashIndex + 1);
                    }

                    // Render loader/spinner while loading
                    $.ajax({
                        async: false, // Must be false, otherwise loadBranch happens after showChildren?
                        url: "/stackviewer/callertree/children?path=" + path + "&@Html.Raw(@Html.MyRouteLinkAjax())"
                    }).done(function (html) {
                        var rows = $(html).filter("tr");
                        table.treetable("loadBranch", node, rows);
                    });
                }
            });

            table.treetable("expandNode", "@Model.Node.Id");

            $("#calltree").show();

            $(document).on("mousedown", "#tree tbody tr", function () {
                $("tr.selected").removeClass("selected");
                $(this).addClass("selected");
            });
        });

    </script>
}