<?xml version="1.0"?>
<configuration>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <system.diagnostics>
    <!-- Set the value to false to avoid poping up dialogs when assert fails. -->
    <assert assertuienabled="true"/>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
