


body {
  margin: 0;
  display: flex;
  flex-direction: column;
}


/*
Nav Bar Views
-------------
*/
/* Wrapper for Nav Bar Views */
.nav {
  margin: 0;
  display: flex;
}

/* Wrapper for dropdownNav and helpfulLinks */
.nav .navItems {
  margin: 0;
  list-style: none;
  margin: 0;
  background-color: deepskyblue;

  display: flex;
  flex-flow: row nowrap;
}

.nav #dropdownNav {
  margin: 0;
  flex-grow: 1;
  justify-content: flex-start;
}

.nav #helpfulLinks {
  margin: 0;
  justify-content: flex-end;
}

.nav #dropdownNav li a, .nav #helpfulLinks li a {
  text-decoration: none;
  display: block;
  padding: .5em;
  color: white;
}
/*------------*/


/*
Tree View and Main View
-----------------------
*/
/* Wrapper for Tree View and Main View */
.wrapper {
  flex-grow: 1;
  margin: 0;
  display: flex;
  flex-direction: row;
}

/* Tree View */
.wrapper .tree {
  min-width: 20em;
  border-right-style: solid;
  border-right-color: deepskyblue;
}

/* Main View */
.wrapper .main {
  flex-grow: 1;  /* TODO: May not need this since implementing '.wrapper' */
}
/*--------------------*/



/*
Footer View
-----------
*/
.footer {
  list-style: none;
  margin: 0;

  background: deepskyblue;

  display: flex;
  flex-flow: row;

  height: 2em;
}

.footer .status {
  flex-grow: 1;
}

.footer .toggle {
  min-width: 17em;
}

.footer .status span {
  line-height: 2em;
  margin-left: .2em;
}

.footer .toggle span {
  line-height: 2em;
}
/*----------*/
