.table td { padding: 2px; }
.center { text-align: center; }
.bpc { margin-left: 10px; margin-right: 0; }
.btn-tiny { padding: 0px 3px 0px 3px; font-size: 0.75rem; line-height: 1.4; border-radius: 0.2rem; }
#pd { font-family: monospace; font-size: 12px; padding: 0; margin: 0; }