.hotlines { border: 1px solid #000; padding: 2px; margin-left: 20px; margin-bottom: 20px; }
.hotlines td { border: 1px solid #000; }
.lineDecoration { background: red; }
.inlineDecoration { background-color: #603311; }